In [2]:
#Loading the libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [3]:
#Data Loading
montreal_data=pd.read_csv("Montreal_2015toOct2020.csv",encoding='latin_1')
pdq_data=pd.read_csv("pdq.csv",encoding='latin_1')

In [ ]:
pd.factorize()

In [203]:
#Data Cleaning
#Montreal data
montreal_data.rename(columns={"CATEGORIE":"OFFENCE","QUART":"OCCURENCETIME"},inplace=True)
montreal_data = montreal_data.dropna(how='any',axis=0) 

montreal_data["OFFENCE"]=montreal_data["OFFENCE"].replace("Vol de véhicule à moteur",1)\
                                                .replace("Méfait",2)\
                                                .replace("Vols qualifiés",3)\
                                                .replace("Vol dans / sur véhicule à moteur",1)\
                                                .replace("Introduction",4)\
                                                .replace("Infractions entrainant la mort",5)

montreal_data["OCCURENCETIME"]=montreal_data["OCCURENCETIME"].replace("jour",1)\
                                                            .replace("nuit",2)\
                                                            .replace("soir",3)

montreal_data["PDQ"]=montreal_data["PDQ"].astype(np.int32)
montreal_data[["OCCURENCEYEAR","OCCURENCEMONTH","OCCURENCEDATE"]]=montreal_data.DATE.str.split("-", expand=True)

#PDQ data
pdq_data.rename(columns={"PREFIX_TEM":"TYPEOFROAD","MUN_TEMP":"MUNICIPALITY"},inplace=True)
pdq_data[["temp","PDQ"]] = pdq_data.DESC_LIEU.str.split("QUARTIER", expand = True)
pdq_data["PDQ"] = pdq_data["PDQ"].astype(np.int32)
pdq_data.drop(["temp","DESC_LIEU","NO_CIV_LIE","DIR_TEMP","LONGITUDE","LATITUDE","NOM_TEMP","OBJECTID"],axis =1 ,\
              inplace=True)

pdq_data["TYPEOFROAD"]=pdq_data["TYPEOFROAD"].replace("BOUL",1)\
                                            .replace("RUE",2)\
                                            .replace("STRE",3)\
                                            .replace("AVEN",4)\

pdq_data["MUNICIPALITY"]=pdq_data["MUNICIPALITY"].replace("DDO",1)\
                                                .replace("MTL",2)\
                                                .replace("MTN",3)\
                                                .replace("PCL",4)\
                                                .replace("WES",5)\
                                                .replace("VSL",6)\
                                                .replace("KIR",7)\
                                                .replace("LAC",8)\
                                                .replace("ANJ",9)\
                                                .replace("CSL",10)\
                                                .replace("LAS",11)\
                                                .replace("VER",12)\
                                                .replace("PRF",13)\
                                                .replace("STL",14)\

In [204]:
#Merging the tables
montreal_pdq_data=pd.merge(montreal_data ,pdq_data,on =["PDQ"])
montreal_pdq_data

,OFFENCE,DATE,OCCURENCETIME,PDQ,X,Y,LONGITUDE,LATITUDE,OCCURENCEYEAR,OCCURENCEMONTH,OCCURENCEDATE,TYPEOFROAD,MUNICIPALITY
0,1,2018-09-13,1,30,294904.159001,5.047549e+06,-73.626778,45.567780,2018,09,13,1,2
1,1,2018-04-30,1,30,294904.159001,5.047549e+06,-73.626778,45.567780,2018,04,30,1,2
2,4,2018-01-10,1,30,294670.696005,5.047695e+06,-73.629772,45.569087,2018,01,10,1,2
3,2,2018-11-12,3,30,294670.696005,5.047695e+06,-73.629772,45.569087,2018,11,12,1,2
4,2,2018-08-15,1,30,294670.696005,5.047695e+06,-73.629772,45.569087,2018,08,15,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172288,1,2020-09-27,1,13,0.000000,0.000000e+00,1.000000,1.000000,2020,09,27,1,11
172289,2,2020-08-26,1,13,0.000000,0.000000e+00,1.000000,1.000000,2020,08,26,1,11
172290,1,2020-08-24,1,13,0.000000,0.000000e+00,1.000000,1.000000,2020,08,24,1,11
172291,3,2020-01-13,3,13,0.000000,0.000000e+00,1.000000,1.000000,2020,01,13,1,11
172292,1,2020-05-16,3,13,291852.268007,5.032256e+06,-73.665473,45.430118,2020,05,16,1,11

In [4]:
#Data Processing
#Apriori
# montreal_data_subset=montreal_data[["OCCURENCETIME","X","Y"]]
# records=[]
# for i in range(0,len(montreal_data_subset)):
#     records.append([str(montreal_data_subset.values[i,j]) for j in range(0,3)])
# association_rules = apriori(records, min_support=0.0020, min_confidence=0.2, min_lift=3, min_length=2)
# association_results = list(association_rules)
# print(len(association_rules))

In [205]:
#Data Processing
#Splitting data
X=montreal_pdq_data[["X","Y","OCCURENCEYEAR","OCCURENCEMONTH","OCCURENCEDATE","OCCURENCETIME","MUNICIPALITY","TYPEOFROAD"]]
y=montreal_pdq_data[["OFFENCE"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
# feature_scaler=StandardScaler()
# X_train=feature_scaler.fit_transform(X_train)
# X_test=feature_scaler.transform(X_test)

In [206]:
#RandomForest
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=10)
rf_classifier.fit(X_train, y_train.values.ravel())
y_pred = rf_classifier.predict(X_test)
print(rf_classifier.score(X_train,y_train))
print(accuracy_score(y_test,y_pred))

0.9659445419852867
0.4938622711047912

In [181]:
#KFold
cross_val_score(rf_classifier, X, y.values.ravel(), cv=5)

array([0.75911201, 0.759076  , 0.67279006, 0.70192698, 0.63265425])

In [195]:
#KNN
knn_classifier=KNeighborsClassifier(n_neighbors = 10).fit(X_train, y_train)
knn_classifier.fit(X_train,y_train.values.ravel())
y_pred=knn_classifier.predict(X_test)
print(knn_classifier.score(X_train,y_train))
print(accuracy_score(y_test,y_pred))

C:\Users\Sai Krishna\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.5759827038321459
0.4906700716793871

In [196]:
#AdaBoost
ab_classifier = AdaBoostClassifier(n_estimators=100, random_state=10)
ab_classifier.fit(X_train, y_train.values.ravel())
y_pred = ab_classifier.predict(X_test)
print(ab_classifier.score(X_train,y_train))
print(accuracy_score(y_test,y_pred))

0.4701089716615639
0.47450593458893175

In [197]:
#GradientBoosting
gb_classifier = GradientBoostingClassifier(n_estimators=100, random_state=0)
gb_classifier.fit(X_train, y_train.values.ravel())
y_pred = gb_classifier.predict(X_test)
print(gb_classifier.score(X_train,y_train))
print(accuracy_score(y_test,y_pred))

0.4904667933891493
0.4911343915958095